rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /colors/{color} {
      allow read: if true;
      allow create: if isSignedIn() &&
                    isRGB(request.resource.data.r) &&
                    isRGB(request.resource.data.g) &&
                    isRGB(request.resource.data.b) &&
                    isLabel(request.resource.data.label);
      // only update if the user that created the document is the user updating it
      // and the only field being updated is label, which has to match the proper format
      allow update: if request.auth.uid == uid
                    && request.resource.data.r == resource.data.r
                    && request.resource.data.g == resource.data.g
                    && request.resource.data.b == resource.data.b
                    && request.resource.data.uid == resource.data.uid
                    && isLabel(request.resource.data.label);
      // only allow delete if the user that created the document is the user deleting it
      allow delete: if request.auth.uid == resource.data.uid;
    }

    /// Functions ///
    function isSignedIn() {
      return request.auth != null;
    }

    function isRGB(num) {
      return num is number && num >= 0 && num <= 255;
    }

    function isLabel(label) {
      return label.matches('^(red|blue|green|orange|yellow|pink|purple|brown|grey)-ish$');
    }
  }
}